
.playground {
    background-image: url('../../../../assets/img/playground.jpg');

    .pokemon {
        transform: scale(3);
    }

    @media (max-width: 500px) {
        .pokemon {
            transform: scale(2);
        }
    }

    .pokeball{
        animation: shake 1.25s cubic-bezier(.36,.07,.19,.97) 3;    
    }

    @keyframes shake {
        0% { transform: translate(0, 0) rotate(0); }
        20% { transform: translate(-5px, 0) rotate(-20deg); }
        30% { transform: translate(5px, 0) rotate(20deg); }
        50% { transform: translate(-5px, 0) rotate(-10deg); }
        60% { transform: translate(5px, 0) rotate(10deg); }
        100% { transform: translate(0, 0) rotate(0); }
    }
}