<div class="h-screen flex">
    <section class="container max-w-xl xl:w-6/12 m-auto sm:w-full min-w-min overflow-hidden">
        <div class="w-full py-10 bg-custom-teal border-4 border-custom-dark-teal relative custom-border">
            <h1 class="text-2xl ml-3 text-center">Wilgen García</h1>
            <p class="text-xs text-cyan-100/75 ml-3 text-center">{{'Inicio de la aventura: 21/04/2023'}}</p>
            <p class="md:text-7xl text-6xl text-cyan-100/75 text-center mt-7">15</p>
        </div>
        <div class="w-full py-10 min-h-[500px] bg-custom-teal grid items-center grid-cols-3 md:grid-cols-4">
            <div class="text-center">
                <p>255</p>
            </div>
            <div class="text-center">
                <p>255</p>
            </div>
            <div class="text-center">
                <p>255</p>
            </div>
            <div class="text-center">
                <p>255</p>
            </div>
            <div class="text-center">
                <p>255</p>
            </div>
        </div>
    </section>
</div>
