<div class="h-screen flex px-2 sm:px-0">
    <section class="container max-w-xl xl:w-6/12 m-auto sm:w-full min-w-min overflow-hidden">
        <div class="w-full py-10 bg-custom-teal border-4 border-custom-dark-teal relative custom-border">
            <h1 class="text-sm md:text-xl xl::text-2xl ml-3 mb-2 text-center">Wilgen García</h1>
            <p class="text-xs text-cyan-100/75 ml-3 text-center">{{'Inicio de la aventura: 21/04/2023'}}</p>
            <p class="md:text-6xl text-5xl xl:text-7xl text-cyan-100/75 text-center mt-7">{{totalPokemons$ | async}}</p>
        </div>
        <div
            class="w-full py-10 px-5 min-h-[350px] max-h-[400px] bg-custom-teal grid items-center grid-cols-3 md:grid-cols-4 gap-4 auto-rows-max overflow-y-scroll custom-scroll">
            <div *ngFor="let pokemon of userPokemons$ | async"
                class="rounded-md aspect-square flex justify-center items-center bg-custom-steelblue bg-opacity-50">

                <img [src]="publicGetPokemonUrlById(pokemon)" alt="">

            </div>
        </div>
        <div class="w-full py-5 bg-custom-teal px-3 text-xs md:text-lg xl:text-xl">
            <button class="bg-custom-steelblue hover:bg-opacity-90 p-4" routerLink="/">Home</button>
        </div>
    </section>
</div>